<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Sample App", '#', {id: "logo", :class => "navbar-brand"} %>
      <nav id="navbar" class="navbar-collapse collapse pull-right">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>